body {
  font-family: "open sans", sans-serif;
  background-color: #272822;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.navbar {
  height: 36px;
  padding: 5px 15px;
  background-color: #33352e;
}

.navbar > h4 {
  display: inline;
}

.prof-img {
  position: absolute;
  height: 36px;
  right: 20px;
  top: 4px;
  z-index: 10;
}

#editor {
  position: absolute;
  top: 50px;
  width: 50%;
  bottom: 0px;
  left: 0px;
}

#editorOutput {
  position: absolute;
  top: 50px;
  width: 50%;
  bottom: 0px;
  right: 0px;
  border-left: 2px solid #202020;
}

#procSelect {
  position: absolute;
  top: 50px;
  width: 200px;
  right: 50%;
  margin-right: 5px;
}

button {
  cursor: pointer;
  transition: background-color 0.5s;
}

select {
  cursor: pointer;
  background-color: rgb(18, 185, 116);
  color: #fff;
  border: 0px;
  border-radius: 4px;
  padding: 5px;
}

.tab {
  background-color: #464740;
  color: #fff;
  border: 2px outset #575851;
  border-bottom: 0px;
  padding: 8px 8px;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  bottom: -6px;
}

.tab:hover {
  background-color: #272822;
}

.openTab {
  background-color: #272822;
}

.btn {
  border: 1px;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  margin: 0px 2px;
}

.nav-spacer {
  width: 20px;
  display: inline-block;
}

.btn-primary {
  background-color: rgb(18, 185, 116) !important;
}

.btn-primary:hover {
  background-color: rgb(18, 151, 96) !important;
}

.btn-secondary {
  background-color: rgb(18, 151, 185) !important;
}

.btn-secondary:hover {
  background-color: rgb(17, 112, 136) !important;
}

.btn-disabled {
  background-color: rgb(117, 117, 117) !important;
}

.btn-disabled:hover {
  background-color: rgb(102, 102, 102) !important;
}

.btn-warning {
  background-color: rgb(216, 80, 51) !important;
}

.btn-warning:hover {
  background-color: rgb(177, 63, 37) !important;
}
