body {
  font-family: "open sans", sans-serif;
  background-color: #272822;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4 {
  color: rgb(209, 252, 124);
}

h1 > a, h2 > a, h3 > a, h4 > a {
  color: rgb(209, 252, 124) !important;
}

.normal-mode .ace_hidden-cursors .ace_cursor {
  background-color: transparent;
  border: 1px solid #F92672;
  opacity: 0.7;
}

.normal-mode .ace_cursor {
  background-color: rgba(249, 38, 115, 0.65);
}

#notFoundText {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 100px;
  font-size: 1.5em;
  color: #a2ff91;
}

#notFoundText > h4 {
  padding: 0px;
  margin: 0px;
}

.undecorated {
  color: #fff;
  text-decoration: none;
}

.navbar {
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  background-color: #33352e;
}

.navbar > h4 {
  display: inline-block;
  margin: 0px;
  padding-top: 6px;
}

.prof-img {
  position: absolute;
  height: 32px;
  right: 10px;
  top: 6px;
  z-index: 10;
}

#settings {
  padding: 10px;
  text-align: center
}

#settings > div {
  display: inline-block;
  text-align: center;
}

.setting {
  margin-bottom: 10px;
  text-align: left;
}

#settings > h2 {
  text-align: center;
}

#editor, #settings {
  position: absolute;
  top: 50px;
  width: 55%;
  bottom: 0px;
  left: 0px;
}

#editorOutput {
  position: absolute;
  top: 50px;
  width: 45%;
  bottom: 0px;
  right: 0px;
  font-size: 11pt;
  border-left: 2px solid #202020;
  overflow: auto;
  font-family: monospace;
}

#editorOutput > * {
  margin: 0px 10px;
}

a {
  color: #A6E22E;
}

.logMessage {
  color: #E6DB74;
}

.errorMessage {
  color: #F92672;
}

.lintMessage {
  color: #FD971F;
}

.infoMessage {
  color: #66D9EF;
}

#addComponentWindow {
  position: absolute;
  top: 50px;
  right: 45%;
  margin-right: 5px;
  text-align: right;
  background-color: #272822;
  border: 2px solid #5a5a5a;
  padding: 3px;
  border-radius: 5px;
}

#addComponentWindow > button {
  font-size: 12pt;
  min-width: 2em;
  text-align: center;
  margin: 0px;
  padding: 2px 0px;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

#addComponentSelects > select {
  min-width: 160px;
  display: block;
  margin-top: 5px;
}

select {
  cursor: pointer;
  background-color: #33352e;
  border: 1px #272822;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 10pt;
}

.hidden {
  display: none !important;
}

.tab {
  background-color: #464740;
  color: #fff;
  border: 2px outset #575851;
  border-bottom: 0px;
  padding: 8px 8px;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  bottom: -5px;
  cursor: pointer;
}

.tab:hover {
  background-color: #272822;
}

.openTab {
  background-color: #272822;
}

.btn {
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  margin: 0px 2px;
  min-width: 80px;
  display: inline;
  text-decoration: none;
  font-size: 11pt;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

.button-group {
  margin: 0 20px;
  display: inline;
}

.btn-primary {
  background-color: rgb(18, 185, 116);
  border-color: rgb(18, 185, 116);
}

.btn-primary:hover {
  background-color: rgb(18, 151, 96);
  border-color: rgb(18, 151, 96);
}

.btn-passive {
  background-color: rgb(226, 226, 226);
  border-color: rgb(226, 226, 226);
}

.btn-passive:hover {
  background-color: rgb(220, 220, 220);
  border-color: rgb(220, 220, 220);
}

.btn-secondary {
  background-color: rgb(18, 151, 185);
  border-color: rgb(18, 151, 185);
}

.btn-secondary:hover {
  background-color: rgb(17, 112, 136);
  border-color: rgb(17, 112, 136);
}

.btn-disabled {
  background-color: rgb(117, 117, 117);
  border-color: rgb(117, 117, 117);
}

.btn-disabled:hover {
  background-color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);
}

.btn-warning {
  background-color: rgb(216, 80, 51);
  border-color: rgb(216, 80, 51);
}

.btn-warning:hover {
  background-color: rgb(177, 63, 37);
  border-color: rgb(177, 63, 37);
}

@media (max-width: 90rem) {
  #warningGroup {
    position: fixed;
    right: 0px;
    bottom: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 50;
  }

  #warningGroup > button {
    width: 120px;
    display: block;
    margin-top: 5px;
  }

  #editor, #settings {
    width: 100%;
    top: 50px;
    bottom: 30%;
    left: 0px;
    right: 0px;
  }

  #editorOutput {
    top: 70%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-top: 2px solid #202020;
    border-left: none;
  }

  #addComponentWindow {
    top: 50px;
    right: 0px;
    margin-right: 5px;
  }

  #profBanner {
    display: none;
  }
}

@media (max-width: 60rem) {
  #shareGroup {
    position: fixed;
    right: 0px;
    top: 70%;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 50;
  }

  #shareGroup > button {
    width: 120px;
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 40rem) {
  #addComponentWindow > * {
    min-width: 140px;
  }

  #happyGroup {
    position: fixed;
    right: 0px;
    top: 0px;
    margin-top: 7px;
    margin-right: 10px;
    z-index: 50;
  }

  .prof-img {
    display: none;
  }
}