body {
  font-family: "open sans", sans-serif;
  background-color: #272822;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.undecorated {
  color: #fff;
  text-decoration: none;
}

.navbar {
  height: 35px;
  padding: 5px 15px;
  background-color: #33352e;
}

.navbar > h4 {
  display: inline;
}

.prof-img {
  position: absolute;
  height: 35px;
  right: 20px;
  top: 4px;
  z-index: 10;
}

#editor {
  position: absolute;
  top: 50px;
  width: 50%;
  bottom: 0px;
  left: 0px;
}

#editorOutput {
  position: absolute;
  top: 50px;
  width: 50%;
  bottom: 0px;
  right: 0px;
  border-left: 2px solid #202020;
}

#addComponentWindow {
  position: absolute;
  top: 50px;
  right: 50%;
  margin-right: 5px;
}

#addComponentWindow > * {
  min-width: 160px;
  display: block;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
  transition: background-color 0.5s;
}

select {
  cursor: pointer;
  background-color: #33352e;
  border: 1px #272822;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 10pt;
}

.hidden {
  display: none;
}

.tab {
  background-color: #464740;
  color: #fff;
  border: 2px outset #575851;
  border-bottom: 0px;
  padding: 8px 8px;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  bottom: -5px;
}

.tab:hover {
  background-color: #272822;
}

.openTab {
  background-color: #272822;
}

.btn {
  border: 1px;
  padding: 7px;
  border-radius: 3px;
  color: #fff;
  margin: 0px 2px;
  min-width: 80px;
}

.button-group {
  margin: 0 20px;
  display: inline;
}

.btn-primary {
  background-color: rgb(18, 185, 116) !important;
}

.btn-primary:hover {
  background-color: rgb(18, 151, 96) !important;
}

.btn-secondary {
  background-color: rgb(18, 151, 185) !important;
}

.btn-secondary:hover {
  background-color: rgb(17, 112, 136) !important;
}

.btn-disabled {
  background-color: rgb(117, 117, 117) !important;
}

.btn-disabled:hover {
  background-color: rgb(102, 102, 102) !important;
}

.btn-warning {
  background-color: rgb(216, 80, 51) !important;
}

.btn-warning:hover {
  background-color: rgb(177, 63, 37) !important;
}

@media (max-width: 90rem) {
  #warningGroup {
    position: absolute;
    right: 0px;
    bottom: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 50;
  }

  #warningGroup > button {
    width: 120px;
    display: block;
    margin-top: 5px;
  }

  #editor {
    width: 100%;
    top: 50px;
    bottom: 30%;
    left: 0px;
    right: 0px;
  }

  #editorOutput {
    top: 70%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-top: 2px solid #202020;
    border-left: none;
  }

  #addComponentWindow {
    top: 50px;
    right: 0px;
    margin-right: 5px;
  }
}

@media (max-width: 60rem) {
  #shareGroup {
    position: absolute;
    right: 0px;
    top: 70%;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 50;
  }

  #shareGroup > button {
    width: 120px;
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 40rem) {
  #addComponentWindow > * {
    min-width: 140px;
  }

  #happyGroup {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 7px;
    margin-right: 10px;
    z-index: 50;
  }

  .prof-img {
    display: none;
  }
}