name: Test

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Checkout code
      uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Test
      run: go test ./...

  # lint:
  #   runs-on: ubuntu-latest
  #   steps:

  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Lint
  #     uses: golangci/golangci-lint-action@v2
  #     with:
  #       version: latest
  #       args: --timeout 10m server/... lib/...
